@import '../mixins';
@import '../vars';

.navbar {
   position: relative;
   z-index: 10;

   padding-right: rem(20);

   text-align: right;

   background-color: $sea-green;
   box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);

   &__img {
      height: rem(50);
      margin: rem(8);
      padding: rem(2);
   }
}


.node-enter {
   transform: rotateX(-100deg);
   transform-origin: top;

   opacity: 0;
}

.node-enter.my-node-enter-active {
   transform: rotateX(0deg);
   transform-origin: top;

   opacity: 1;
   transition: opacity 250ms ease-in;
}

.node-exit {
   transform: rotateX(0deg);
   transform-origin: top;

   opacity: 1;
}

.node-exit.my-node-exit-active {
   transform: rotateX(-100deg);
   transform-origin: top;

   opacity: 0;
}
